@charset "utf-8";

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 160, 227);
    width: 80vw;
    margin: 0 auto;
}

html{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
p{
    display:inline-block;
    background-color: rgb(145, 208, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
object{
    background-color: rgb(255, 214, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
ul {
  list-style: none; /* 丸印を消す */
  padding-left: 0;  /* 左の余白も消す */
}

ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  
}

li{
    background-color:  rgb(154, 207, 240);
}
